.login-form {
  margin: 1rem auto;
  width: 80vw;
  border: 1px solid rgba(184, 181, 181, 0.61);
  max-width: 500px;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  box-shadow: 10px 18px 18px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--light-blue);
}

.login-form input {
  padding: 0.5rem;
  width: 90%;
  border-radius: 0.5rem;
  background-color: antiquewhite;
  transition: all 0.15s ease-in-out;
  margin: 0.3rem auto 1rem;
  display: block;
}

.login-form input:focus {
  box-shadow: 0 0 0 2px rgba(9, 77, 180, 0.486);
  z-index: 2;
}

.login-form .submit-btn {
  display: block;
  padding: 0.5rem;
  width: 90%;
  margin: 3rem auto;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
  color: white;
  background-color: var(--dark-blue);
}

.login-form .submit-btn:hover {
  color: var(--warning);
  cursor: pointer;
}
.login-form h1 {
  font-size: 2.5rem;
  text-align: center;
}

.login-form h2 {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.sign-up {
  color: var(--dark-grey);
  line-height: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.sign-up a {
  color: antiquewhite;
  font-size: 1.1rem;
}

.sign-up a:hover {
  color: var(--warning);
}

.errMsg {
  background-color: var(--danger);
  border-radius: 0.3rem;
  color: #fff;
  padding: 0.25rem;
  width: 90%;
  margin: 1rem auto;
  display: block;
}

.success {
  background-color: var(--success);
  border-radius: 0.3rem;
  color:var(--dark-grey);
  padding: 0.25rem;
  width: 90%;
  margin: 1rem auto;
  display: block;
}
