.register-form {
  margin: 1rem auto;
  width: 80vw;
  border: 1px solid rgba(184, 181, 181, 0.61);
  max-width: 500px;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  box-shadow: 10px 18px 18px 3px rgba(0, 0, 0, 0.1);
  background-color: #579BB1;
}
.register-form h1 {
  font-size: 2.5rem;
  text-align: center;
}
.register-form input {
  padding: 0.5rem;
  width: 90%;
  border-radius: 0.5rem;
  background-color: antiquewhite;
  transition: all 0.15s ease-in-out;
  margin: 0.3rem auto 1rem;
  display: block;
}

.register-form input:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 0.2rem rgba(9, 77, 180, 0.486);
  z-index: 2;
}

.register-form .submit-btn {
  display: block;
  padding: 0.5rem;
  width: 90%;
  margin: 2rem auto 1rem auto;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
  color: white;
  background-color: #243763
}

.register-form .submit-btn:hover {
  color: #d98324;
  cursor: pointer;
}

.register-form h2 {
  margin-left: 1.5rem;
  display: inline;
  font-size: 1.3rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.3rem;
  background: rgb(41, 39, 39);
  color: #fff;
  padding: 0.25rem;
  width: 90%;
  margin: 1rem auto;
  display: block;
}

.instructions > svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.alert-green {
  background-color: rgb(120, 223, 120);
  border-radius: 0.3rem;
  color: rgb(41, 39, 39);
  padding: 0.25rem;
  width: 90%;
  margin: 1rem auto;
  display: block;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.invalid {
  color: red;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.errmsg {
  background-color: rgb(207, 60, 60);
  border-radius: 0.3rem;
  color: #fff;
  padding: 0.25rem;
  width: 90%;
  margin: 1rem auto;
  display: block;
}

.line {
  display: inline-block;
}

.sign-in {
  color: rgb(41, 39, 39);
  line-height: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.sign-in a {
  color: antiquewhite;
  font-size: 1.1rem;
}

.sign-in a:hover {
  color: #d98324;
}
