/* font-family: 'Alegreya', serif;
font-family: 'Sora', sans-serif; */

:root {
  box-sizing: border-box;
  font-size: 0.785em;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none 0;
}

body {
  font-family: "Sora", sans-serif;
  color: rgb(41, 39, 39);
  background:linear-gradient(to right top, #09c6f9,
  #63A4FF) ;
  min-height: 100vh;
  padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya", sans-serif;
  color: rgb(41, 39, 39);
}

h1{
  font-size: 3.5rem;
}
h2{
  font-size: 2.25rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1,1rem;
}
h5{
  font-size: .9rem;
}
h6{
  font-size: .7rem;
}



