:root {
  box-sizing: border-box;
  font-size: 0.785em;
  --background: #faebd7;
  --dark-grey: rgb(41, 39, 39);
  --dark-blue: rgb(36, 55, 99);
  --super-light-blue: #c5dfe8;
  --light-blue: #0c739887;
  --dark-green: rgb(29, 120, 116);
  --success:#bce1bc;
  --success-text:#1e4620;
  --danger:#f7cece;
  --danger-text:#5f2120;
  --warning:#fff4e5;
  --warning-text:#663c00;
  --wrong:#d32f2f;
  --purple-event: rgba(189, 44, 189, 0.462);
  --red-event: rgba(232, 33, 33, 0.569);
  --blue-event: rgba(5, 54, 249, 0.54);
  --green-event: rgba(9, 116, 9, 0.51);
  --yellow-event: rgba(224, 192, 13, 0.692);
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none 0;
}

body {
  font-family: "Sora", sans-serif;
  color: var(--dark-grey);
  background: var(--background);
  min-height: 100vh;
  padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya", sans-serif;
  color:var(--dark-blue);
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1, 1rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.7rem;
}
