.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--light-blue);
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  margin: 3rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  background-color: #243763;
  color: var(--warning);
}
