.cell {
  min-width: 40px;
  min-height: 80px;
  border: 1px solid rgba(53, 51, 51, 0.185);
  text-align: right;
  color: antiquewhite;
  font-weight: bold;
  padding: .3rem;
}

.cell h4{
  text-align: center;
  margin-top: 4rem;
  font-size: 1.6rem;
}


.today{
 background-color:rgba(99, 130, 223, 0.603) ;
}
