.event {
  padding: 0.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  word-break: break-all;
  font-size: 0.7rem;
  margin: 2px auto;
  color: antiquewhite;
}

.event:hover {
  color:var(--warning);
}

.purple {
  background-color:var(--purple-event);
}
.red {
  background-color: var(--red-event);
}
.blue {
  background-color:var(--blue-event);
}

.green {
  background-color: var(--green-event);
}

.yellow {
  background-color: var(--yellow-event);
}
