.calendar-container {
  box-shadow: 15px 18px 18px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  min-width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color:  #f4c095c2; */
}

.calendar-container h4{
  color: antiquewhite;
}
